{% extends "base.html" %}

{% block content %}
    <h2>{{ author.name }}</h2>
    {% for book in author.books.all %}
        {% if book.review %}
        
            {% include "book-detail.html" %} 
            <p class = "meta">
                Reviewed on <strong>{{ book.date_reviewed | date : "D d M Y" }}</strong>
                {% if book.reviewed_by %}
                    by <strong>{{ book.reviewed_by.get_full_name | default : book.reviewed_by.username }}</strong>
                {% endif %}
            </p>
        {% endif %}
   {% endfor %}
{% endblock %}
